@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Bitter');


.bouton1
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    width: 180px;
    height: 50px;
    background: #262626;
    text-transform: uppercase;
    text-align: center;
    line-height: 50px;
    color: #ff0;
    text-decoration: none;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 4px;
}




/* code bouton animée nicolas*/




body{

    margin: 0px;
}

.banniere{
    text-align:center; 
    background:#2a4789;
    height: 265px ;
    margin-top: -20px;
}
.banniere h1{
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-size: 10em;
    color: rgba(255,255,255,.1);
    background-image: url(../images/vague1.png);
    background-repeat:repeat-x;
    -webkit-background-clip: text;
    animation: animate 15s linear infinite
}
.banniere h4{
    color: #efdf31;
}

@keyframes animate
{
    0%
    {
        background-position: left 0px top 80px
    }
    40%
    {
        background-position: left 800px top -50px
    }
    80%
    {
        background-position: left 1800px top -50px
    }
    100%
    {
        background-position: left 2400px top 80px
    }
}


/*footer .container {
    height: 50px;
    max-width: 1445px;
    background-color: #2a4789;
    
    margin-left: -10px;
    margin-right: 50px;

} */



p  { 
    color: white;
    font-size: 5px;
    font-style: italic;
    font-family: 'Montserrat', sans-serif;
    margin: 50px;
    padding: 50px;
    position: left;

}  
.yo1{
    background-color: #2a4789;
    padding-top: 20px;
    height: 50px;
}    

.yo{
    padding-right: 50px;
    float: right;
}

.bo{
    padding-left: 200px;
    text-align: left;
    color: #fff;

}

.yes{
    font-weight: bold;
}

h4{
    font-family: 'Bitter', serif;
    font-size: 30px;
}

.oon{
    background: url('../images/img5.jpg')center center no-repeat ;
    -webkit-background-size: cover;
    background-size: cover;
    height: 30em;
}


.mov{
    font-size: 15px;
    font-style: italic;
    padding-top: 250px;
}
.video{
    margin: auto;
    position: relative;
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
    padding-bottom: 50px;
    background: #2a4789;
}
.navbar-default{
    background: #2a4789;
}
.img{

    width: 200px;
    height: 150px;
}
h2{
    text-align: center;
}

@media screen and (max-width: 840px)
{
   img {
        background-image: url('https://scontent.frun2-1.fna.fbcdn.net/v/t1.0-9/15822745_716177068545057_5447092148424664840_n.jpg?oh=1eb5598c6b0522d3189fa3cb867fa45b&amp;oe=5A0E20C3');
    }
    .banniere {    

    }
@media screen and (max-width: 900px)
{
 img {
        background-image: url('https://scontent.frun2-1.fna.fbcdn.net/v/t1.0-9/15822745_716177068545057_5447092148424664840_n.jpg?oh=1eb5598c6b0522d3189fa3cb867fa45b&amp;oe=5A0E20C3');

 }
    .banniere{    

    }


@media screen and (max-width: 840px){

#partenaires{display: flex;
    justify-content: space-around;}
#partenaires .container img{
    
    height: 100px; width: 100px;
    
}
.bo{
    padding-left: 50px;
    text-align: left;
    color: #fff;

}
.video{
    padding: 0;
    display: flex;
    justify-content: space-around;
}


.banniere h1{
    font-size: 40px;
    padding-top: 60px;
}
.bouton1{
    visibility: hidden;
}
.mov{
    font-size: 15px;
    font-style: italic;
    padding-top: 130px;
}

}

.gallery-title
{
    font-size: 36px;
    color: #42B32F;
    text-align: center;
    font-weight: 500;
    margin-bottom: 70px;
}
.gallery-title:after {
    content: "";
    position: absolute;
    width: 7.5%;
    left: 46.5%;
    height: 45px;
    border-bottom: 1px solid #5e5e5e;
}
.filter-button
{
    font-size: 18px;
    border: 1px solid #42B32F;
    border-radius: 5px;
    text-align: center;
    color: #42B32F;
    margin-bottom: 30px;

}
.filter-button:hover
{
    font-size: 18px;
    border: 1px solid #42B32F;
    border-radius: 5px;
    text-align: center;
    color: #ffffff;
    background-color: #42B32F;

}
.btn-default:active .filter-button:active
{
    background-color: #42B32F;
    color: white;
}

.port-image
{
    width: 100%;
}

.gallery_product
{
   
    padding: 0px;
}
