@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Bitter');


.bouton1
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    width: 180px;
    height: 50px;
    background: #262626;
    text-transform: uppercase;
    text-align: center;
    line-height: 50px;
    color: #ff0;
    text-decoration: none;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 4px;
}
.bouton1:before,
.bouton1:after,
span:before,
span:after
{
    content: '' ;
    position: absolute;
    width: 10px;
    height: 10px;
    background: #ff0;
    transition: 1s;
    mix-blend-mode: hue;

}
.bouton1:before
{
    top: -2px;
    left: -2px;
}
.bouton1:after
{
    top: -2px;
    right: -2px;
}
span:before
{
    bottom: -2px;
    left: -2px;
}
span:after
{
    bottom: -2px;
    right: -2px;
}
.bouton1:hover:before,
.bouton1:hover:after,
.bouton1:hover span:before,
.bouton1:hover span:after
{
     width: calc( 180px /2);
    height: calc( 50px /2);
}

/* code bouton animée nicolas*/




body{

    margin: 0px;
}

.banniere{
    text-align:center; 
    background:#2a4789;
    height: 265px ;
}
.banniere h1{
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-size: 10em;
    color: rgba(255,255,255,.1);
    background-image: url(../images/vague1.png);
    background-repeat:repeat-x;
    -webkit-background-clip: text;
    animation: animate 15s linear infinite
}
.banniere h4{
    color: #efdf31;
}

@keyframes animate
{
    0%
    {
        background-position: left 0px top 80px
    }
    40%
    {
        background-position: left 800px top -50px
    }
    80%
    {
        background-position: left 1800px top -50px
    }
    100%
    {
        background-position: left 2400px top 80px
    }
}


footer .container {
    height: 50px;
    width: 1349px;
    background-color: #7F7D72;
    padding-top: 10px;
    margin-left: 0px;
    margin-right: 0px;
} 



p  { 
    color: white;
    font-size: 5px;
    font-style: italic;
    font-family: 'Montserrat', sans-serif;
    margin: 50px;
    padding: 50px;
    position: left;

}      

.yo{
    padding-right: 50px;
    float: right;

}

.bo{
    padding-left: 200px;
    text-align: left;

}

.yes{
    font-weight: bold;
}

h4{
    font-family: 'Bitter', serif;
    font-size: 30px;
}

.oon{
    background: url('../images/img5.jpg') no-repeat ;

   

    -webkit-background-size: cover;
    background-size: cover;
}


.mov{
    font-size: 15px;
    font-style: italic;
    margin-bottom: 0px;
}

.img{

    width: 200px;
    height: 150px;
}


@media screen and (max-width: 640px)
{
   img {
        background-image: url('https://scontent.frun2-1.fna.fbcdn.net/v/t1.0-9/15822745_716177068545057_5447092148424664840_n.jpg?oh=1eb5598c6b0522d3189fa3cb867fa45b&amp;oe=5A0E20C3');
    }
    .banniere {    

    }
@media screen and (max-width: 900px)
{
 img {
        background-image: url('https://scontent.frun2-1.fna.fbcdn.net/v/t1.0-9/15822745_716177068545057_5447092148424664840_n.jpg?oh=1eb5598c6b0522d3189fa3cb867fa45b&amp;oe=5A0E20C3');

 }
    .banniere{    

    }

@media screen and (max-width: 640px)
{
    h1  {   } 
}
@media screen and (max-width: 640px)
{
    *
}


