.banniere{
    text-align:center; 
    background:#2a4789;
    height: 250px ;
    margin-top: -20px;
}
.banniere h1{
    text-transform: uppercase;
    background-image: url(../images/vague1.png);
    background-repeat:repeat-x;
    -webkit-background-clip: text;
    animation: animate 15s linear infinite
}
.banniere h4{
    color: #efdf31;
}

@keyframes animate
{
    0%
    {
        background-position: left 0px top 80px
    }
    40%
    {
        background-position: left 800px top -50px
    }
    80%
    {
        background-position: left 1800px top -50px
    }
    100%
    {
        background-position: left 2400px top 80px
    }
}


.navbar {
    border-radius: 0px;
}


.video{
    margin: auto;
    position: relative;
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
    padding-bottom: 50px;
    background: #2a4789;
}

.banniere h1{
    font-size: 40px;
    padding-top: 60px;
}


/* GALLERY
========================== */
.gallery {
    padding: 80px 0;
}

.gallery-item {
    margin-bottom: 20px;
}

.gallery img {
    width: 100%;

}

/* PARTENAIRES
========================== */
.partenaires li{
    display: inline;
    list-style: none;
    padding: 0 13px;
}

.partenaires img {
    width: 10%;
}